.msone {
  width: 400px;
  height: 25px;
  background-color: black;
  text-align: center;
  word-spacing: 40px;
  margin-left: 400px;
  padding:30px 30px 30px 30px;
}

a {
  text-decoration: none;

  color: white;

}

a:hover {
  background-color: blueviolet;
}